<html>

<head>
	<title>Register - Transaction Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">
	<link rel="stylesheet" type="text/css" href="/styles/transaction.css">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/transaction.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Transaction</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" <% if (!locals.errorMessage || (locals.errorMessage === "")) { %> class="hidden" <% } %>>
			<h4 id="errorMessage" class="error-message">
				<% if (locals.errorMessage && (locals.errorMessage !== "")) { %>
					<%= locals.errorMessage %>
				<% } %>
			</h4>
		</div>

		<div class="mainMenuActionsWrapper">
			<div>

					<div class="row">
						<div class="column">
							<h2>Search for products</h2>
							<a>Add products to cart by clicking them</a>
							<br>
							<br>

							<div class="searchField">
								<input  id="search" class="searchBar" type="text" v-model="searchbox" placeholder="Type in name to search for"/>
								<button id="searchSubmit" class="searchButton" v-on:click="search()"> search </button>
							</div>
							
							<table  id="productSearchResults">
								<tr>
								  <th>Lookup Code</th>
								  <th>Price in cents</th>
								  <th>Quantity in Stock</th>
								  <th>Add to Cart</th>
								</tr>
								<tbody id="searchBody">
									<tr v-for="product in searchResults" :key="product.id">
										<td>{{product.lookupCode}}</td>
										<td>{{product.price}}</td>
										<td id="count">{{product.count}}</td>
										<td><button id="addToCart" v-on:click="onProductItemClicked()">+</button></td>
									</tr>
								</tbody>
						
							  </table>

						</div>

						<div class="column">
							<h2>Cart</h2>
							<a>Click below to confirm or cancel transaction</a>

							<br>
							<br>

							<div class="searchField">
								<button id="confirmButton" type="button" class="searchButton">Confirm</button>
								<button id="cancelButton" type="button" class="searchButton">Cancel</button>
							</div>

							<table  id="cart">
								
								<tr>
								  <th>Lookup Code</th>
								  <th>Price pr. product in cents</th>
								  <th>Quantity in cart</th>
								  <th>Remove from Cart</th>
								</tr>
								<tbody id="cartBody">
									<tr v-for="product in cart" :key="product.id">
										<td>{{product.lookupCode}}</td>
										<td>{{product.price}}</td>
										<td>{{product.count}}</td>
										<td><button v-on:click="removeProductItem()">-</button></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td>Sum:</td>
										<td id="sum">$0</td>
										<td><button id="updateSum" v-on:click="adjustSum()">Update</button></td>
										<td></td>
									</tr>
								</tfoot>
						
							  </table>
							
						</div>
					</div>
			</div>
		</div>
	</div>

	<div class="hidden">
		<input type="checkbox" id="isRefreshed" class="hidden">
		<script type="text/javascript">
			window.onunload = function() {
				const isRefreshedElement = document.getElementById("isRefreshed");

				if(!isRefreshedElement.checked) {
					isRefreshedElement.checked = true;
				} else {
					isRefreshedElement.checked = false;
					location.reload();
				}
			}
		</script>
	</div>

	<div class="footer">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>
		
	<script>
	</script>
</body>

</html>